//
// Avatar
//

.#{$css-prefix}avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: $ui-transition-primary;

  &--tile {
    border-radius: 0;
  }

  @include ui-square($ui-avatar-size-md);

  &--xs { @include ui-square($ui-avatar-size-xs) }
  &--sm { @include ui-square($ui-avatar-size-sm) }
  &--md { @include ui-square($ui-avatar-size-md) }
  &--lg { @include ui-square($ui-avatar-size-lg) }
  &--xl { @include ui-square($ui-avatar-size-xl) }

  img {
    // border-radius: 50%;
    width: 100%;
    height: auto;
    @include ui-user-drag(none);
    // height: inherit;
    // width: inherit;
  }
}
