//
// Pagination
//

.#{$css-prefix}pagination {
  display: block;

  & > ul {
  align-items: center;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    max-width: 100%;
    padding: 0;

    & > li {
      align-items: center;
      display: flex;
    }
  }

  &--circle {
    .#{$css-prefix}pagination__item,
    .#{$css-prefix}pagination__more,
    .#{$css-prefix}pagination__navigation {
      border-radius: 50%;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: .6;
  }

  &__item {
    @include btn-style-reset($display: inline-flex);
    @include elevation(2);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    // font-size: $button-font-size;
    @include font-size(sm);
    background: transparent;
    height: 34px;
    width: 34px;
    margin: .3rem;
    transition: .3s get-easing(linear-out-slow-in);
    @include theme-color(background, background);
    @include theme-color(color, text);
    padding-top: 1px;

    &--active {
      @include elevation(4);
      pointer-events: none;
    }

    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }

    &:focus {
    }
  }

  &__navigation {
    @include btn-style-reset($display: inline-flex);
    @include elevation(2);
    justify-content: center;
    align-items: center;
    height: 2rem;

    border-radius: 4px;
    width: 2rem;
    margin: .3rem 10px;
    padding-top: 1px;

    @include theme-color(background, background);
    @include theme-color(color, text);

    .#{$css-prefix}icon {
      // font-size: 2rem;
      @include font-size(sm);
      transition: get-transition(secondary);
      vertical-align: middle;
    }

    &--prev {
      .#{$css-prefix}icon {
        margin-right: 2px;
      }
    }

    &--next {
      .#{$css-prefix}icon {
        margin-left: 2px;
      }
    }

    &--disabled {
      opacity: .6;
      pointer-events: none;
    }

    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }

  &__more {
    margin: .3rem;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    user-select: none;
  }
}
