//
// Page Layout
//

.#{$css-prefix}page {
  display: block;
  padding-top: 3rem;
  padding-bottom: 6rem;

  &-header {
    @include theme-color(background-light);

    &__inner {
      height: 7.25rem;
      padding: 3rem;
      display: flex;
      align-items: center;
      margin: 0;

      &,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font-size(xxxl);
        @include font-weight(regular);
        @include theme-color(text-secondary);
      }
    }
  }

  &__introduction {
    @include theme-color(text-secondary);
    margin: 0;
  }

  &__section {
    padding-top: 5rem;

    &-header {
      @include font-size(xxl);
      // @include font-weight(regular);
      @include font-weight(bold);
      @include theme-color(text-secondary);
      margin-bottom: 1rem;
      // font-weight: bold;

      &:first-child {
        margin-top: 0;
      }
      // &:first-letter {
      //   text-transform: uppercase;
      // }
    }
  }

  &__container {
    @include page-container;

    &-pull {
      @include page-container-pull;
    }
  }
}
