//
// Page Layout
//

.#{$css-prefix}page {
  display: block;
  padding-bottom: 6rem;

  &__header {

    &__inner {
      height: 7.25rem;
      padding: 3rem;
      display: flex;
      align-items: center;
      margin: 0;

      &,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include ui-font-size(xxxl);
        @include ui-font-weight(regular);
      }
    }
  }

  &__intro {
    @include ui-theme-context-mapping-text(caption);
    margin-top: 2rem;
    @include ui-font-size(sm);
    @include ui-container;
  }

  &__section {
    margin-top: 4rem;
    @include ui-container;

    &-header {
      @include ui-font-size(xxl);
      @include ui-font-weight(bold);
      @include ui-theme-context-mapping-text(caption);
      margin-bottom: 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__container {
    @include ui-container;
  }
}
