//
// Page Layout
//

.#{$css-prefix}page {
  display: block;
  padding-bottom: 6rem;

  // @include page-container;

  // &__pull {
  //   @include page-pull;
  // }

  &__header {

    &__inner {
      height: 7.25rem;
      padding: 3rem;
      display: flex;
      align-items: center;
      margin: 0;

      &,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font-size(xxxl);
        @include font-weight(regular);
      }
    }
  }

  &__intro {
    @include theme-color(color, text-secondary);
    margin-top: 2rem;
    @include page-container;
  }

  &__section {
    margin-top: 4rem;
    @include page-container;

    &-header {
      @include font-size(xxl);
      @include font-weight(bold);
      @include theme-color(color, text-secondary);
      margin-bottom: 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__container {
    @include page-container;
  }
}
