//
// Color
//

@each $key in $background-color-keys {
  .#{$css-prefix}#{$key} {
    @include theme-color(background-color, background-#{$key}, true);
  }
}

@each $parent, $children in map-get($themes, palette) {
  @each $sub, $color in $children {
    $suffix: if($sub == base, null, -#{$sub});
    $key: #{$parent}#{$suffix};
    .#{$css-prefix}#{$key} {
      background-color: $color!important;
    }
  }
}
