//
// Space
//

$properties: (m: margin, p: padding);
$directions: (
  t: (top),
  r: (right),
  b: (bottom),
  l: (left),
  v: (top, bottom),
  h: (left, right),
  a: (top, right, bottom, left),
);

@include ui-mq-each() {
  @each $property-cel, $property-name in $properties {
    @each $direction-cel, $direction-targets in $directions {
      @each $size-cel, $size-val in $ui-space {
        .#{$css-prefix}#{$property-cel}#{$direction-cel}-#{$mq-each-prefix}#{$size-cel} {
          @each $direction-name in $direction-targets {
            #{$property-name}-#{$direction-name}: $size-val!important;
          }
        }
      }
    }
  }
}
