//
// Visibility
//

// @include mq-each() {
//   .#{$css-prefix}#{$mq-each-prefix}hide { display: none!important; }
//   .#{$css-prefix}#{$mq-each-prefix}show { display: block!important; }
//   .#{$css-prefix}#{$mq-each-prefix}show--inline { display: inline!important; }
//   .#{$css-prefix}#{$mq-each-prefix}show--inline-block { display: inline-block!important; }

//   .#{$css-prefix}#{$mq-each-prefix}hidden { visibility: hidden!important; }
//   .#{$css-prefix}#{$mq-each-prefix}visible { visibility: visible!important; }
// }
