//
// Grid
//

.#{$css-prefix}container {
  flex: 1 1 100%;
  margin: auto;
  // padding: $grid-gutters.lg;
  width: 100%;

  &.#{$css-prefix}grid-list {
    @each $size, $gutter in get-grid(gutters) {
      &-#{$size} {
        padding: $gutter;

        .#{$css-prefix}layout .#{$css-prefix}flex {
          padding: $gutter / 2;
        }

        .#{$css-prefix}layout:only-child {
          margin: -($gutter / 2);
        }

        .#{$css-prefix}layout:not(:only-child) {
          margin: auto -($gutter / 2);
        }

        *:not(:only-child) {
          .#{$css-prefix}layout:first-child {
            margin-top: -($gutter / 2);
          }

          .#{$css-prefix}layout:last-child {
            margin-bottom: -($gutter / 2)
          }
        }
      }
    }
  }
}

.#{$css-prefix}layout {
  $my: &;

  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;

  &--reverse {
    flex-direction: column-reverse;
  }

  &--row {
    flex-direction: row;

    &#{$my}--reverse {
      flex-direction: row-reverse;
    }
  }
}

@include mq-each() {
  @for $n from 1 through get-grid(columns) {
    .#{$css-prefix}flex.#{$css-prefix}#{$mq-each-target}#{$n} {
      $my-width: $n / get-grid(columns) * 100%;
      flex-basis: $my-width;
      max-width: $my-width;
    }

    .#{$css-prefix}flex.#{$css-prefix}#{$mq-each-prefix}order-#{$n} {
      order: $n;
    }
  }

  @for $n from 0 through get-grid(columns) {
    .#{$css-prefix}flex.#{$css-prefix}offset-#{$mq-each-target}#{$n} {
      margin-left: $n / get-grid(columns) * 100%;
    }
  }
}

.#{$css-prefix}flex {
  flex: 1 1 auto;
}

.#{$css-prefix}wrap {
  flex-wrap: wrap;
}

.#{$css-prefix}spacer {
  flex-grow: 1;
}

.#{$css-prefix}align {
  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }

  &-center {
    align-items: center;
  }

  &-baseline {
    align-items: baseline;
  }
}

.#{$css-prefix}align-content {
  &-start {
    align-content: flex-start;
  }

  &-end {
    align-content: flex-end;
  }

  &-center {
    align-content: center;
  }

  &-space-between {
    align-content: space-between;
  }

  &-space-around {
    align-content: space-around;
  }
}

.#{$css-prefix}justify {
  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-space-between {
    justify-content: space-between;
  }
}

// .#{$css-prefix}flex {
//   display: flex;
// }

.#{$css-prefix}inline-flex {
  display: inline-flex;
}

.#{$css-prefix}block {
  display: block;
}

.#{$css-prefix}inline-block {
  display: inline-block;
}
