//
// Button
//

.#{$css-prefix}btn {
  $my-border-width: $ui-button-border-width;

  @mixin my-size($size) {
    min-width: map-get($ui-button-min-width, $size);
    @include font-size(map-get($ui-button-font-size, $size));
    $my-height: map-get($ui-button-height, $size);
    height: $my-height;
    line-height: $my-height - $my-border-width;
  }

  @mixin my-icon-size($size) {
    $my-size: map-get($ui-button-height, $size);
    width: $my-size;
    height: $my-size;
    line-height: $my-size - $my-border-width * 2;
    @include font-size(map-get($ui-button-font-size, $my-size));
  }

  @include btn-base($display: inline-flex);
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  @include font-weight(regular);
  margin: $ui-button-margin-vertical $ui-button-margin-horizontal;
  border-radius: $ui-button-radius;
  border: $my-border-width solid transparent;
  position: relative;
  transition: box-shadow get-transition(primary);

  &:not(.#{$css-prefix}btn--depressed) {
    will-change: box-shadow;
    @include elevation($ui-button-elevation);

    &:active {
      @include elevation($ui-button-active-elevation);
    }
  }

  &--left,
  &--right {
    box-shadow: none !important;
  }

  &__content {
    &-wrapper {
      display: block;
      position: relative;
      width: 100%;
      border-radius: inherit;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    padding: 0 $ui-button-padding-horizontal;
    white-space: nowrap;
    transition: get-transition(primary);
    user-select: none;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__label {
    display: inline-block;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: inherit;
    color: inherit;
    left: -$my-border-width;
    top: -$my-border-width;
    width: calc(100% + #{$my-border-width * 2});
    height: calc(100% + #{$my-border-width * 2});
    opacity: .12;
    transition: get-duration(promptly);
  }

  &:hover,
  &:focus {
    &:not(.#{$css-prefix}btn--disabled):not(.#{$css-prefix}btn--noaction) {
      &:before {
        background-color: currentColor;
      }
    }
  }

  &:active {
    &:before {
      opacity: .24;
    }
  }

  // size
  @include my-size(md);
  @each $size in sm, lg {
    &--#{$size} {
      @include my-size($size);
    }
  }

  &--block {
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &--icon {
    border-radius: 50%;
    justify-content: center;
    min-width: 0 !important;

    .#{$css-prefix}btn__content {
      padding: 0;
    }

    @include my-icon-size(md);
    @each $size in sm, lg {
      &.#{$css-prefix}btn--#{$size} {
        @include my-icon-size($size);
      }
    }

    .#{$css-prefix}icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  // includes icon
  &__content .#{$css-prefix}icon {
    color: inherit;
    // display: inline-flex;
    // align-items: center;
    // justify-content: center;
    // vertical-align: bottom;

    &--left {
      margin-right: $ui-button-icon-margin;
    }

    &--right {
      margin-left: $ui-button-icon-margin;
    }
  }

  &#{&}--disabled,
  &#{&}--noaction {
    pointer-events: none;
    cursor: default;
  }

  &#{&}--disabled {
    @include ui-theme-context-mapping-text(disabled, $important: true);
  }

  &--hidden {
    visibility: hidden !important;
  }

  &--left,
  &--right {
    min-width: 50px;
  }

  &--left {
    border-radius: $ui-button-radius 0 0 $ui-button-radius;
  }

  &--right {
    border-radius: 0 $ui-button-radius $ui-button-radius 0;
  }



  // loader
  &--loading {

    .#{$css-prefix}btn__content {
      opacity: 0;
    }
  }

  &__loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .#{$css-prefix}icon {

      &--left {
        margin-right: 1rem;
        line-height: inherit;
      }

      &--right {
        margin-left: 1rem;
        line-height: inherit;
      }
    }
  }
}
