//
// Basic
//


// link
a {
  text-decoration: none;
}

// strongs
strong,
em,
b,
.#{$css-prefix}strong {
  @include font-size(md);
  @include font-weight(bold);
  @include line-height(md);
  letter-spacing: normal;
}

// small
small,
.#{$css-prefix}small {
  @include font-size(xs);
}

// strike
s {
  text-decoration: line-through;
}

// quote
q {
  quotes: "ã€Œ" "ã€" "ã€" "ã€";
  &:before {content: open-quote; }
  &:after {content: close-quote; }
}

// defined word
abbr, dfn {
  font-style: italic;
}

abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted currentColor;
}

cite {
  font-style: italic;
}

// italic
.#{$css-prefix}italic,
i {
  font-style: italic;
}


// edited
ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

// computed
var {
  font-style: italic;
}

code,
kbd {
  display: inline-block;
  border-radius: 3px;
  white-space: pre-wrap;
  font-size: 85%;
  font-weight: get-font-weight(bold);

  &:after,
  &:before {
    content: "\00a0";
    letter-spacing: -1px;
  }
}

code {
  @include ui-theme-background(light-grey);
  color: #bd4147;
  @include elevation(1);
}

kbd {
  @include ui-theme-color(color, "context.darken.doc");
  @include ui-theme-color(background, "context.darken.base");
}

mark {
  @include ui-theme-color(background, highlight);
}

// styled
// sup, sub, ruby >>> rest.css
