//
// Heading
//

h1,
.#{$css-prefix}text--page-title {
  @include ui-font-size(xxxl);
  @include ui-font-weight(regular);
  @include ui-line-height(xs);
  letter-spacing: -.02em;
  margin-bottom: ui-get-space(xxl);

  @include ui-mq(mdAndUp) {
    @include ui-font-size(xxxxl);
  }
}

h2,
.#{$css-prefix}text--section-heading {
  @include ui-font-size(xxl);
  @include ui-font-weight(regular);
  @include ui-line-height(heading);
  letter-spacing: normal;
  margin-top: 2.5em;
  margin-bottom: .5em;
}

h3,
.#{$css-prefix}text--section-sub-heading {
  @include ui-font-size(xl);
  @include ui-font-weight(regular);
  @include ui-line-height(heading);
  letter-spacing: normal;
  margin-top: 2.5em;
  margin-bottom: ui-get-space(md);
}

h4,
.#{$css-prefix}text--title {
  @include ui-font-size(xl);
  @include ui-font-weight(regular);
  @include ui-line-height(heading);
  letter-spacing: normal;
  margin-top: ui-get-space(xl);
  margin-bottom: ui-get-space(sm);
}

h5,
.#{$css-prefix}text--sub-title {
  @include ui-font-size(lg);
  @include ui-font-weight(regular);
  @include ui-line-height(sm);
  letter-spacing: normal;
  margin-top: ui-get-space(xl);
  margin-bottom: ui-get-space(xs);
}

h6,
.#{$css-prefix}text--caption {
  @include ui-font-size(xs);
  @include ui-font-weight(regular);
  @include ui-line-height(md);
  letter-spacing: normal;
  margin-top: ui-get-space(xl);
  margin-bottom: ui-get-space(xxs);
}
