//
// Icon
//

@keyframes #{$css-prefix}icon-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.#{$css-prefix}icon {
  // vertical-align: middle;
  display: inline-block;
  // display: inline-block;
  // line-height: 1em;

  &--rotate {
    // display: inline-flex;
    &:before {
      display: block;
      animation: #{$css-prefix}icon-rotate 1s infinite;
    }

    // align-items: center;
    // justify-content: center;
  }

  @each $size in sm, md, lg, xl {
    &--#{$size} {
      @include font-size(get-icon(size-#{$size}));
    }
  }
}