//
// Accordion
//

.#{$css-prefix}accordion {
  position: relative;
  display: block;
  list-style-type: none;

  &__title {
    .#{$css-prefix}tile__title {
      @include font-weight-bolder;
    }
  }

  &--active > &__title &__title__angle {
    transform: rotate(-180deg);
  }

  &__body {
    will-change: height;
    transition: height .4s cubic-bezier(.4, 0, .2, 1);
  }

  &--flat {
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: currentColor;
      opacity: 0;
      transition: get-transition(primary);
    }
  }

  &--flat > &__body > &__body__inner > &-group {
    margin: 0;
  }

  &--styled > &__body {
    @include ui-theme-context-mapping-background(default);
  }

  &--styled > &__body > &__body__inner {
    margin: get-space(md);
  }
}

// grouping
.#{$css-prefix}accordion-group {
  list-style-type: none;
  padding: 0;
  margin: get-space(sm) 0;
  overflow: hidden;

  &--styled {
    @include elevation(2);
    border-radius: get-card(border-radius);
  }

  & > .#{$css-prefix}accordion {
    & + .#{$css-prefix}accordion.#{$css-prefix}accordion--styled {
      margin-top: 1px;
    }

    &--flat.#{$css-prefix}accordion--active {
      &:before,
      &:after {
        opacity: 0.14;
      }
    }
  }
}
