//
// Toolbar
//

.#{$css-prefix}toolbar {
  position: relative;
  @include theme-color(background-color, background);
  transition: padding get-duration(slowly) get-easing(drawer);
  @include elevation(4);

  &--floating {
    display: inline-flex;
    margin: 16px;
    width: auto;
  }

  .#{$css-prefix}btn,
  &__side-icon {
    margin: {
      top: 0;
      bottom: 0;
    }
  }

  .#{$css-prefix}btn--icon,
  &__side-icon {
    flex-shrink: 0;
  }



  &__body,
  &__extension {
    display: flex;
    align-items: center;
    min-width: 100%;
    overflow-y: hidden;

    & > * {
      margin: {
        left: get-toolbar(content-margin);
        right: get-toolbar(content-margin);
      }
    }

    &:before,
    &:after {
      content: "";
      display: block;
      width: 0;
      flex-basis: 0;
      height: inherit;
      min-height: inherit;
    }
  }

  &--scroll {
    .#{$css-prefix}toolbar__body,
    .#{$css-prefix}toolbar__extension {
      display: inline-flex;
      vertical-align: bottom;
    }
  }

  &:not(&--scroll) {
    overflow-x: hidden;
  }

  &__title {
    display: block;
    height: auto;
    margin: {
      top: 0;
      bottom: 0;
      left: $ui-horizontal-padding;
    }
    // @include font-weight(regular);
    @include font-weight-bolder;
    @include font-size(lg);
    @include ellipsis;
    min-width: 3em;

    &:not(:first-child) {
      margin-left: get-toolbar(content-margin);
    }

    .#{$css-prefix}toolbar__extension & {
      &:first-child {
        margin-left: 70px;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;

    & > .#{$css-prefix}btn,
    & > .#{$css-prefix}menu .#{$css-prefix}menu__activator .#{$css-prefix}btn {
      height: 100%;
      margin: 0;
      border-radius: 0;
    }
  }

  // @mixin set-height($key: hoge) {
  //   .#{$css-prefix}toolbar__body,
  //   .#{$css-prefix}toolbar__extension {
  //     min-height: get-toolbar(row-height);

  //     &:before,
  //     &:after {
  //       height: get-toolbar(row-height);
  //     }
  //   }

  //   .#{$css-prefix}__items {
  //     height: get-toolbar(row-height);
  //   }
  // }

  // @include set-height;
  // &--dense {}

  // &__trigger {
  //   display: inline-block;
  //   vertical-align: middle;
  //   color: inherit;
  //   padding: 0 .6em;
  //   border-bottom: solid 2px transparent;

  //   &--active,
  //   &:hover,
  //   &:focus {
  //     @include theme-color(border-color, context-primary);
  //   }
  // }
}
