//
// Toolbar
//

.#{$css-prefix}toolbar {
  position: relative;
  @include theme-color(background-color, background);
  transition: padding get-duration(slowly) get-easing(drawer);
  @include elevation(4);

  .#{$css-prefix}btn--icon,
  &__side-icon {
    flex-shrink: 0;
  }

  &__title {
    margin-left: get-page(horizontal-padding);
    @include font-weight(regular);
    @include font-size(lg);
    @include ellipsis;
  }

  &__content {
    display: flex;
    align-items: center;
    height: $toolbar-row-height;

    & > * {
      &:first-child:not(.#{$css-prefix}toolbar__title) {
        margin-left: get-page(horizontal-padding) / 2;
      }

      &:last-child {
        margin-right: get-page(horizontal-padding) / 2;
      }
    }
  }

  &__trigger {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    padding: 0 .6em;
    border-bottom: solid 2px transparent;

    &--active,
    &:hover,
    &:focus {
      @include theme-color(border-color, context-primary);
    }
  }
}