//
// Date picker
//

.#{$css-prefix}calendar {
  display: inline-flex;
  vertical-align: bottom;
  flex-direction: column;
  width: $ui-calendar-width;
  height: $ui-calendar-height;
  position: relative;
  overflow: hidden;
  border-radius: inherit;
  @include ui-theme-context-mapping-background(default);

  &__stack {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    @include ui-theme-context-mapping-background(default);

    &-enter-active, &-leave-active {
      transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &-enter, &-leave-to {
      // opacity: 0;
      transform: translateY($ui-calendar-height);
    }

    // &:not(.#{$css-prefix}calendar__stack--base) {
    //   transform: translateY($ui-calendar-height);
    // }

    // &--active {
    //   transform: translateY(0) !important;
    // }

    // & > :first-child {
    //   border-top-left-radius: inherit;
    //   border-top-right-radius: inherit;
    // }

    // & > :last-child {
    //   border-bottom-left-radius: inherit;
    //   border-bottom-right-radius: inherit;
    // }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: $ui-calendar-header-height;
    margin: 0 auto;

    &__values {
      display: flex;
      margin: 0 auto;
      // padding: 0 ui-get-space(xs);
      padding: 0;
      @include ui-font-size(sm);
    }

    &__value {
      @include ui-btn-base($display: inline-block);
      margin: 0 ui-get-space(xxs);
      transition: $ui-transition-primary;

      &:hover,
      &:focus {
        @include ui-theme-context-mapping-text(primary);
      }
    }

    .#{$css-prefix}calendar__stack--month & {
      justify-content: center;

      &__values {
        // margin: 0 ui-get-space(xs);
        margin: 0;
      }
    }
  }

  &__body {
    position: relative;
    width: $ui-calendar-body-width;
    height: $ui-calendar-body-height;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__slide {
      position: absolute;

      &--active {
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &--at-left {
        left: -#{$ui-calendar-width};
      }

      &--at-right {
        left: $ui-calendar-width;
      }

      &--to-left {
        transform: translateX(-#{$ui-calendar-width});
      }

      &--to-right {
        transform: translateX($ui-calendar-width);
      }
      // &--left {
      //   left: -#{$ui-calendar-width};
      // }

      // &--right {
      //   left: $ui-calendar-width;
      // }

      // &--slide-left {
      //   transform: translateX(-#{$ui-calendar-width});
      // }

      // &--slide-right {
      //   transform: translateX($ui-calendar-width);
      // }
    }
  }

  &__table {
    &-wrapper {
      top: 0;
      width: 100%;
      padding: 0 $ui-calendar-body-padding;
    }

    // remove divider
    tr:not(:last-child),
    thead {
      border-width: 0;
    }

    th,
    td {
      text-align: center;
      vertical-align: middle;
    }

    th {
      @include ui-theme-context-mapping-text(caption);
      width: $ui-calendar-cell-size;
      height: $ui-calendar-week-height;
      padding: 0;
      user-select: none;
      @include ui-font-size(xxs);
    }

    &__cell {
      position: relative;
      padding: 0;
      @include ui-square($ui-calendar-cell-size);

      .#{$css-prefix}btn {
        margin: 0;
        @include ui-square($ui-calendar-cell-btn-size);
        line-height: 1;
        @include ui-font-size(sm);
      }

      // &--picked {
      //   &-in {
      //     border-bottom: solid 1px #000;
      //   }
      // }
      &__range-guide {
        position: absolute;
        z-index: 1;
        height: 1px;
        bottom: 1px;
        background: #f00;
        width: 50%;

        &--from {
          left: 50%;
        }

        &--to {
          left: 0;
        }
      }
    }

    &__events {
      position: absolute;
      // z-index: 1;
      left: 0;
      width: 100%;
      bottom: 3px;
      display: block;
      text-align: center;
      overflow: hidden;
      pointer-events: none;
      white-space: nowrap;
    }

    &__event {
      display: inline-block;
      vertical-align: bottom;
      @include ui-square(5px);
      background: currentColor;
      border-radius: 50%;

      &:not(:first-child) {
        margin-left: 1px;
      }
    }
  }

  &__month-list {
    // margin: 0 ui-get-space(sm);
    margin: 0;
    padding: 0 ui-get-space(sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // width: $ui-calendar-body-width - ui-get-space(sm) * 2;
    width: 100%;

    &,
    & > li {
      list-style-type: none;
    }

    & > li {
      padding: ui-get-space(xs) 0;

      .#{$css-prefix}btn {
        min-width: 80px;
        margin: 0;
      }
    }
  }

  &__year-scroller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .#{$css-prefix}scroller__content {
      padding: 0;
      margin: 0;
      @include ui-font-size(sm, $tweak: 1px);

      & > li {
        list-style-type: none;
        position: relative;
        cursor: pointer;
        user-select: none;
        @include ui-user-drag(none);
        @include ui-pressable-effect;
        padding: ui-get-space(xs);
        text-align: center;
        transition: $ui-transition-primary;

        &.#{$css-prefix}calendar__year--current {
          font-size: 140%;
          @include ui-font-weight(bold);
          @include ui-theme-context-mapping-text(sub);
        }

        &.#{$css-prefix}calendar__year--active {
          font-size: 160%;
          @include ui-font-weight(bold);
          @include ui-theme-context-mapping-text(primary);
        }

        &.#{$css-prefix}calendar__year--disabled {
          @include ui-theme-context-mapping-text(disabled);
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}
