//
// Border Radius
//

$ui-border-radius-sm: .125rem !default;
$ui-border-radius-md: .25rem !default;
$ui-border-radius-lg: .5rem !default;
$ui-border-radius-pill: .15rem !default;
$ui-border-radius-circle: 50% !default;
$ui-border-radius-field: $ui-border-radius-md !default;
