//
// Button
//

$ui-button-radius: get-border-radius(field) !default;
$ui-button-border-width: 1px !default;
$ui-button-margin-vertical: 6px !default;
$ui-button-margin-horizontal: 8px !default;
$ui-button-padding-horizontal: 16px !default;
$ui-button-icon-margin: get-space(xs) !default;
$ui-button-elevation: 2 !default;
$ui-button-active-elevation: 8 !default;
$ui-button-height: (
  sm: 28px,
  md: 36px,
  lg: 44px,
) !default;
$ui-button-min-width: (
  sm: 60px,
  md: 88px,
  lg: 160px,
) !default;
$ui-button-font-size: (
  sm: xs,
  md: md,
  lg: lg,
) !default;
