//
// Chip
//

$ui-chip-border-radius: 28px !default;
$ui-chip-close-margin: 0 2px 0 8px !default;
$ui-chip-font-size: ui-get-font-size(sm) !default;
$ui-chip-label-border-radius: $ui-card-border-radius !default;
$ui-chip-icon-font-size: ui-get-font-size(xxl) !default;
$ui-chip-padding: 0 12px !default;
$ui-chip-removeable-padding: 0 4px 0 12px !default;
$ui-chip-outline-background: transparent !important !default;
$ui-chip-height: 30px !default;
$ui-chip-margin: 4px !default;
$ui-chip-small-height: 26px !default;
$ui-chip-small-font-size: ui-get-font-size(xs) !default;
$ui-chip-small-icon-font-size: ui-get-font-size(xl) !default;
$ui-chip-icon-offset: 12px !default;
$ui-chip-icon-negative-offset: -4px !default;
