//
// Duration
//

$ui-duration-instantly: 0s !default;
$ui-duration-immediately: 0.05s !default;
$ui-duration-quickly: 0.1s !default;
$ui-duration-promptly: 0.2s !default;
$ui-duration-showup: 0.3s !default;
$ui-duration-slowly: 0.4s !default;
$ui-duration-paused: 3.2s !default;
$ui-duration-toast-short: 4.8s !default;
$ui-duration-toast-medium: 9.6s !default;
