//
// Easing
//

$ui-easing-fast-out-slow-in: cubic-bezier(0.4, 0.0, 0.2, 1) !default;
$ui-easing-linear-out-slow-in: cubic-bezier(0.0, 0.0, 0.2, 1) !default;
$ui-easing-fast-out-linear-in: cubic-bezier(0.4, 0.0, 1, 1) !default;
$ui-easing-ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1) !default;
$ui-easing-fast-in-fast-out: cubic-bezier(.25, .8, .25, 1) !default;
$ui-easing-fast-in-slow-out: $ui-easing-fast-in-fast-out !default; // @TODO: 実装
$ui-easing-swing: cubic-bezier(.25, .8, .50, 1) !default;
$ui-easing-drawer: $ui-easing-swing !default;
