//
// Easing
//

@function get-easing($key) {
  @return map-get($easing, $key);
}

$easing: ();
$easing: map-set($easing, fast-out-slow-in, cubic-bezier(0.4, 0.0, 0.2, 1));
$easing: map-set($easing, linear-out-slow-in, cubic-bezier(0.0, 0.0, 0.2, 1));
$easing: map-set($easing, fast-out-linear-in, cubic-bezier(0.4, 0.0, 1, 1));
$easing: map-set($easing, ease-in-out, cubic-bezier(0.4, 0.0, 0.6, 1));
$easing: map-set($easing, fast-in-fast-out, cubic-bezier(.25, .8, .25, 1));
$easing: map-set($easing, swing, cubic-bezier(.25, .8, .50, 1));
$easing: map-set($easing, drawer, get-easing(swing));
