//
// Font Family
//

@function ui-get-font-family($key) {
  @return map-get($ui-font-family, $key);
}

// 游系はIEでline-height効かないので使わない
// YuGothic,
// 'Yu Gothic',
// 游ゴシック体,
// 游ゴシック,

$ui-font-family-sans-serif:
  Linotte,
  'ヒラギノ角ゴ Pro W3',
  'Hiragino Kaku Gothic Pro',
  Roboto,
  メイリオ,
  Meiryo,
  'ＭＳ Ｐゴシック',
  Osaka,
  'MS PGothic',
  Arial,
  Helvetica,
  Verdana,
  sans-serif !default;

// 游系はIEでline-height効かないので使わない
// "游明朝",
// YuMincho,
$ui-font-family-serif:
  "Hiragino Mincho ProN",
  "Hiragino Mincho Pro",
  "ＭＳ 明朝",
  serif !default;

$ui-font-family-base: $ui-font-family-sans-serif !default;
$ui-font-family-accent: $ui-font-family-serif !default;

$ui-font-family: (
  sans-serif: $ui-font-family-sans-serif,
  serif: $ui-font-family-serif,
  base: $ui-font-family-base,
  accent: $ui-font-family-accent,
);

