//
// Font Size
//

$ui-html-base-font-size: 16px !default;
$ui-html-base-font-size-per: ($ui-html-base-font-size / 16px) * 100%;

@function ui-rem($ammount: 1) {
  @return $ui-html-base-font-size * $ammount;
}

@function ui-get-font-size($key, $unit: null) {
  $value: map-get($ui-font-size, $key);
  @if $unit != null {
    @return #{nounit($value)}#{$unit};
  } @else {
    @return $value;
  }
}

$ui-font-size-base  : ui-rem()       !default; // 16px
$ui-font-size-xxs   : ui-rem(.625)   !default; // 10px
$ui-font-size-xs    : ui-rem(.75)    !default; // 12px
$ui-font-size-sm    : ui-rem(.875)   !default; // 14px
$ui-font-size-md    : ui-rem()       !default; // 16px
$ui-font-size-lg    : ui-rem(1.125)  !default; // 18px
$ui-font-size-xl    : ui-rem(1.25)   !default; // 20px
$ui-font-size-xxl   : ui-rem(1.625)  !default; // 26px
$ui-font-size-xxxl  : ui-rem(2)      !default; // 32px
$ui-font-size-xxxxl : ui-rem(2.8125) !default; // 45px
$ui-font-size-xxxxxl: ui-rem(7)      !default; // 112px

$ui-font-size: (
  base  : $ui-font-size-base  ,
  xxs   : $ui-font-size-xxs   ,
  xs    : $ui-font-size-xs    ,
  sm    : $ui-font-size-sm    ,
  md    : $ui-font-size-md    ,
  lg    : $ui-font-size-lg    ,
  xl    : $ui-font-size-xl    ,
  xxl   : $ui-font-size-xxl   ,
  xxxl  : $ui-font-size-xxxl  ,
  xxxxl : $ui-font-size-xxxxl ,
  xxxxxl: $ui-font-size-xxxxxl,
);
