//
// Font Weight
//

@function ui-get-font-weight($key) {
  @return map-get($ui-font-weight, $key);
}

$ui-font-weight-light: 300 !default;
$ui-font-weight-regular: 400 !default;
$ui-font-weight-bold: 700 !default;

$ui-font-weight: (
  light: $ui-font-weight-light,
  regular: $ui-font-weight-regular,
  bold: $ui-font-weight-bold,
);
