//
// Icon
//

@function get-icon($key) {
  @return map-get($icon, $key);
}

$icon: ();
$icon: map-set($icon, size-sm, xs);
$icon: map-set($icon, size-md, md);
$icon: map-set($icon, size-lg, xl);
$icon: map-set($icon, size-xl, xxl);
