//
// Core Variables
//

@import "./palette";
@import "./theme";
@import "./layout";
@import "./duration";
@import "./easing";
@import "./elevation";
@import "./transition";
@import "./shadow";
@import "./z-index";
@import "./border-radius";
@import "./font-family";
@import "./font-size";
@import "./icon";
@import "./line-height";
@import "./media-query";
@import "./font-weight";
@import "./space";
@import "./dialog";
@import "./badge";
@import "./button";
@import "./input";
@import "./spinner";
@import "./toolbar";
@import "./navigation-drawer";
@import "./utility";
@import "./avatar";
@import "./card";
@import "./chip";
@import "./picker";

$ui-values: (
  breakPoints: $ui-break-points,
  mediaMatches: $ui-media-matches,
  mediaMatchAliases: $ui-media-match-aliases,
  toolbarHeights: $ui-toolbar-heights,
  theme: (
    contexts: $ui-theme-contexts,
    contextMapping: $ui-theme-context-mapping,
    default: $ui-theme-default,
    keys: $ui-theme-keys,
  ),
);
