//
// Input
//

// input group
$ui-input-margin-vertical: get-space(md) !default;
$ui-input-margin-horizintal: get-space(sm) !default;

// combobox
$ui-combobox-radius: get-border-radius(field) !default;
$ui-combobox-border-width: 1px !default;
$ui-combobox-height-sm: map-get($ui-button-height, sm) !default;
$ui-combobox-height-md: map-get($ui-button-height, md) !default;
$ui-combobox-height-lg: map-get($ui-button-height, lg) !default;
$ui-combobox-padding-horizontal: get-space(xs) !default;

// checkbox & radio
$ui-check-size: 32px !default;
$ui-check-body-size: 18px !default;

// switch
$ui-switch-track-radius: 8px !default;
$ui-switch-track-min-width: 30px !default;
$ui-switch-track-height: 14px !default;
$ui-switch-pointer-offset: 3px !default;
$ui-switch-pointer-size: 20px !default;
$ui-switch-pointer-assist-size: 6px !default;

// slider
$ui-slider-height: 30px !default;
$ui-slider-track-height: 2px !default;
$ui-slider-thumb-pointer-body-size: 16px !default;
$ui-slider-thumb-pointer-border-size: 3px !default;
$ui-slider-thumb-pointer-padding: 5px !default;
$ui-slider-thumb-pointer-size: $ui-slider-thumb-pointer-body-size + $ui-slider-thumb-pointer-border-size * 2 !default;
$ui-slider-thumb-pointer-full-size: $ui-slider-thumb-pointer-size + $ui-slider-thumb-pointer-padding * 2 !default;
$ui-slider-thumb-pointer-transition: .3s get-easing(swing) !default;
$ui-slider-thumb-pointer-body-size: 16px !default;
