//
// Line Height
//

@function ui-get-line-height($key, $unit: null) {
  $value: map-get($ui-line-height, $key);
  @if $unit != null {
    @return #{nounit($value)}#{$unit};
  } @else {
    @return $value;
  }
}

$ui-line-height-reset  : 1    !default;
$ui-line-height-icon   : 1    !default;
$ui-line-height-heading: 1.25 !default;
$ui-line-height-xxs    : 1    !default;
$ui-line-height-xs     : 1.2  !default;
$ui-line-height-sm     : 1.45 !default;
$ui-line-height-md     : 1.73 !default;
$ui-line-height-lg     : 1.8  !default;
$ui-line-height-xl     : 2    !default;

$ui-line-height: (
  reset  : $ui-line-height-reset,
  icon   : $ui-line-height-icon,
  heading: $ui-line-height-heading,
  xxs    : $ui-line-height-xxs,
  xs     : $ui-line-height-xs,
  sm     : $ui-line-height-sm,
  md     : $ui-line-height-md,
  lg     : $ui-line-height-lg,
  xl     : $ui-line-height-xl,
);
