//
// Page
//

// ブレイクポイントごとのコンテナの最大幅の設定
$page-max-widths: ();
@each $define in $ui-break-points {
  $target: map-get($define, key);
  $width: map-get($define, content);
  $page-max-widths: map-set($page-max-widths, $target, $width);
}

@function get-page($key) {
  @return map-get($page, $key);
}

$page: ();
$page: map-set($page, horizontal-padding, 20px); // 16だとiOSのセーフティーmarginに触りやすくなってしまう
$page: map-set($page, max-widths, $page-max-widths);
$page: map-set($page, drawer-transition, get-duration(slowly) get-easing(drawer));

@function get-page-max-width($key) {
  @return map-get($page-max-widths, $key);
}
