//
// Page
//

// ブレイクポイントごとのコンテナの最大幅の設定
$ignore-page-max-width-breakpoints: xs, sm, md;
$page-max-widths: ();
@each $target, $define in $media-query-breakpoints {
  $width: if(index($ignore-page-max-width-breakpoints, $target), 100%, map-get($define, min) * 1px);
  $page-max-widths: map-set($page-max-widths, $target, $width);
}

@function get-page($key) {
  @return map-get($page, $key);
}

$page: ();
$page: map-set($page, horizontal-padding, 20px); // 16だとiOSのセーフティーmarginに触りやすくなってしまう
$page: map-set($page, max-widths, $page-max-widths);

@function get-page-max-width($key) {
  @return map-get($page-max-widths, $key);
}
