//
// Picker
//

$ui-calendar-header-height: 48px !default;
$ui-calendar-cell-size: 36px !default;
$ui-calendar-cell-btn-size: $ui-calendar-cell-size - 2px !default;
$ui-calendar-week-height: 28px !default;
$ui-calendar-body-padding: 14px !default;
$ui-calendar-body-width: $ui-calendar-cell-size * 7 + $ui-calendar-body-padding * 2 !default;
$ui-calendar-body-height: $ui-calendar-cell-size * 5 + $ui-calendar-week-height + $ui-calendar-body-padding !default;
$ui-calendar-width: $ui-calendar-body-width !default;
$ui-calendar-height: $ui-calendar-header-height + $ui-calendar-body-height !default;
