//
// Spinner
//

$ui-spinner-rotate-animation: spinner-rotate 1.4s linear infinite !default;
$ui-spinner-rotate-dash: spinner-dash 1.4s ease-in-out infinite !default;
$ui-spinner-intermediate-svg-transition: all .2s ease-in-out !default;
$ui-spinner-overlay-transition: all .6s ease-in-out !default;
