//
// Toolbar
//

$ui-toolbar-content-margin: ui-get-space(xs);

$ui-toolbar-height-dense: 48 !default;
$ui-toolbar-height-narrowHeight: $ui-toolbar-height-dense !default;
$ui-toolbar-height-mobile: 56 !default;
$ui-toolbar-height-desktop: 64 !default;

$ui-toolbar-heights: (
  dense: $ui-toolbar-height-dense,
  narrowHeight: $ui-toolbar-height-narrowHeight,
  mobile: $ui-toolbar-height-mobile,
  desktop: $ui-toolbar-height-desktop,
) !default;
