//
// Transition
//

$ui-transition-primary: $ui-duration-showup $ui-easing-swing !default;
$ui-transition-secondary: $ui-duration-promptly $ui-easing-ease-in-out !default;
$ui-transition-drawer: $ui-duration-slowly $ui-easing-drawer !default;
