//
// Breadcrumb
//

.#{$css-prefix}breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: get-space(md) get-space(sm);
  padding: 0;
  @include font-size(sm);

  & > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    line-height: get-line-height(xl);
  }

  &__divider {
    margin: 0 1em;
    @include ui-theme-text(sub);
  }

  &__item {
    &--active {
      pointer-events: none;
    }
  }

  &--left { justify-content: flex-start; }
  &--center { justify-content: center; }
  &--right { justify-content: flex-end; }

  &--lg {
    @include font-size(lg);
  }
}
