//
// App Header
//

.#{$css-prefix}app-header {
  transition-property: all;
  transition-duration: $ui-duration-slowly;
  transition-timing-function: $ui-easing-drawer;
  will-change: transform, box-shadow, padding;

  &--fixed {
    position: fixed;
    z-index: $ui-z-index-app-header;
    top: 0;
    left: 0;
    width: 100%;
    @include ui-shadow(floating);
    // transition-property: top;
  }

  .#{$css-prefix}app--drawer-left-active.#{$css-prefix}app--drawer-left-static & {
    padding-left: $ui-navigation-drawer-width;
  }

  .#{$css-prefix}app--drawer-right-active.#{$css-prefix}app--drawer-right-static & {
    padding-right: $ui-navigation-drawer-width;
  }

  &--hidden {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    // opacity: 0;
  }
}
