//
// App Stacks
//

.#{$css-prefix}app-stack-container {
  position: relative;
  z-index: get-z-index(app-stack-base);
  overflow: visible;
  width: 100%;
  height: 0;
}

.#{$css-prefix}app-stack {
  // display: inline-block;

  &__backdrop {
    $my-overflow-size: 64px;

    position: fixed;
    top: -$my-overflow-size;
    left: -$my-overflow-size;
    right: -$my-overflow-size;
    bottom: -$my-overflow-size;

    @include ui-theme-color(background, backdrop);
    transition: opacity .5s;
  }

  &__element {
    display: inline-block;
  }
}
