//
// App Stacks
//

.#{$css-prefix}app-stack-container {
  position: relative;
  z-index: get-z-index(app-stack-base);
  overflow: visible;
  width: 100%;
  height: 0;
}

.#{$css-prefix}app-stack {
  display: block;
}