//
// Button
//


@mixin ui-btn-action-reset() {
  @include ui-user-drag(none);
  user-select: none;
  -webkit-touch-callout: none;
  @include ui-remove-tap-highlight;
}

@mixin ui-btn-style-reset($display: inline-block) {
  @include ui-btn-action-reset;
  appearance: none;
  position: relative;
  border: 0;
  outline: none;
  display: $display;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  padding: 0;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

// Button Base
@mixin ui-btn-base($display: inline-block) {
  @include ui-btn-style-reset($display: $display);
}
