//
// Color
//

@function get-directions-props($directions, $prefix, $suffix: "") {
  $_suffix: -#{$suffix};
  $props: ();

  @if $directions == all {
    $props: #{$prefix}#{$_suffix};
  } @else if $directions == horizontal {
    $props: #{$prefix}-left#{$_suffix}, #{$prefix}-right#{$_suffix};
  } @else if $directions == vertical {
    $props: #{$prefix}-top#{$_suffix}, #{$prefix}-bottom#{$_suffix};
  } @else {
    @each $direction in $directions {
      $props: append($props, #{$prefix}-#{$direction}#{$_suffix});
    }
  }

  @return $props;
}

@mixin theme-background-color($key, $important: true) {
  @include theme-color(background-color, $key, $important: $important);
}

@mixin theme-border-color($key, $directions: all, $important: true) {
  $props: get-directions-props($directions, border, color);
  @include theme-color($props, $key, $important: $important);
}

@mixin theme-layer-color($key, $important: true) {
  @include theme-background-color($key, $important: $important);
  @include theme-border-color($key, $important: $important);
}

@mixin theme-text-color($key, $important: true) {
  @include theme-color(color, $key, $important: $important);
}

@mixin border-color($color, $important: true, $directions: all) {
  $props: get-directions-props($directions, border, color);
  @each $prop in $props {
    #{$prop}: $color if($important, !important, null);
  }
}

@mixin suitable-text-color(
  $bg-color,
  $ammount: $suitable-text-color-ammount,
  $dark: get-color(text-base),
  $light: get-color(text-inverted)
) {
  color: get-suitable-text-color(
    $bg-color: $bg-color,
    $ammount: $ammount,
    $dark: $dark,
    $light: $light
  );
}