//
// Media Query
//

$mq-each-target: null !global;
$mq-each-prefix: null !global;

// 複数指定可能
@mixin mq($targets...) {
  $conditions: ();
  $len: length($targets);
  @for $i from 1 through $len {
    $target: nth($targets, $i);
    $condition: null;

    @if map-has-key($ui-media-match-aliases, $target) {
      $condition: map-get($ui-media-match-maps, map-get($ui-media-match-aliases, $target));
    } @else {
      $condition: map-get($ui-media-match-maps, $target);
    }
    $conditions: append($conditions, $condition);
  }

  $conditionsStr: to-string($conditions, ", ");
  @media #{$conditionsStr} { @content; }
}

@mixin mq-each() {
  $mq-each-target: null !global;
  $mq-each-prefix: null !global;

  @each $define in $ui-media-match-each-targets {
    $target: map-get($define, key);
    $condition-target: map-get($define, condition);

    $mq-each-target: $target !global;
    $mq-each-prefix: #{$target + "-"} !global;

    @if $condition-target == null {
      @content;
    } @else {
      @include mq($condition-target) { @content; }
    }
  }
}
