//
// Page
//

@mixin page-padding() {
  padding-left: get-page(horizontal-padding);
  padding-right: get-page(horizontal-padding);
}

@mixin page-container-base() {
  @include page-padding;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin page-max-width($key) {
  max-width: get-page-max-width($key);
}

@mixin page-container() {
  @include page-container-base;

  @each $key, $size in get-page(max-widths) {
    @include mq($key) {
      @include page-max-width($key);
    }
  }
}
