//
// Page
//

@mixin page-padding() {
  padding-left: get-page(horizontal-padding);
  padding-right: get-page(horizontal-padding);
}

@mixin page-pull() {
  transition:
    width get-page(drawer-transition),
    margin get-page(drawer-transition);

  margin-left: -get-page(horizontal-padding);
  margin-right: -get-page(horizontal-padding);

  @each $key, $size in get-page(max-widths) {
    @include mq($key) {
      @if $size != 100% {
        margin-left: calc((100vw - #{$size}) / -2 - #{get-page(horizontal-padding)});
        width: 100vw;

        .#{$css-prefix}app--drawer-right-static & {
          margin-left: calc((100vw - #{$size}) / -2 - #{get-page(horizontal-padding)} + #{$navigation-drawer-width / 2});
          width: calc(100vw - #{$navigation-drawer-width});

          @media all and (max-width: #{$size + $navigation-drawer-width}) {
            margin-left: get-page(horizontal-padding) * -1;
          }
        }
      } @else {
        margin-left: get-page(horizontal-padding) * -1;
        margin-right: get-page(horizontal-padding) * -1;
      }
    }
  }
}

@mixin page-container-base() {
  @include page-padding;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin page-max-width($key) {
  max-width: get-page-max-width($key);
}

@mixin page-container() {
  @include page-container-base;

  @each $key, $size in get-page(max-widths) {
    @include mq($key) {
      @include page-max-width($key);
    }
  }
}
