//
// Scroll
//

@mixin ui-scrollbar($size: 10px) {

  &::-webkit-scrollbar {
    width: $size;
    height: $size;

    &:window-inactive {
      opacity: 0;
    }
  }

  &::-webkit-scrollbar-thumb {
    // background-color: $color-layout-base-focus;
    // border-radius: $border-radius-lg;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 1px inset;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@mixin ui-enable-ios-momentum-scrolling {
  -webkit-overflow-scrolling: touch;
}

@mixin ui-scrollable {
  @include ui-scrollbar;
  @include ui-enable-ios-momentum-scrolling;
  overflow: auto;
}

@mixin ui-scrollable--x($max-width: 100%) {
  @include ui-scrollbar;
  @include ui-enable-ios-momentum-scrolling;
  max-width: $max-width;
  overflow: hidden {
    x: auto;
  };
}

@mixin ui-scrollable--y($max-height: 100%) {
  @include ui-scrollbar;
  @include ui-enable-ios-momentum-scrolling;
  max-height: $max-height;
  overflow: hidden {
    y: auto;
  };
}
