//
// Transition
//

// Component specific transitions
@mixin ui-transition-bottom-sheet {
  &-enter {
    transform: translateY(100%);
  }

  &-leave-to {
    transform: translateY(100%);
  }
}

@mixin ui-transition-carousel {
  &-enter {
    transform: translate3d(100%, 0, 0);
  }

  &-leave, &-leave-to {
    position: absolute;
    top: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@mixin ui-transition-carousel-reverse {
  &-enter {
    transform: translate3d(-100%, 0, 0);
  }

  &-leave, &-leave-to {
    position: absolute;
    top: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@mixin ui-transition-dialog {
  &-enter, &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }

  &-enter-to, &-leave {
    opacity: 1;
  }
}

@mixin ui-transition-dialog-bottom {
  &-enter, &-leave-to {
    transform: translateY(100%);
  }
}

@mixin ui-transition-tab {
  &-enter {
    transform: translate(100%, 0);
  }

  &-enter-to {
    transform: translate(0, 0);
  }

  &-leave, &-leave-active {
    position: absolute;
    top: 0;
  }

  &-leave-to {
    position: absolute;
    transform: translate(-100%, 0);
  }
}

@mixin ui-transition-tab-reverse {
  &-enter {
    transform: translate(-100%, 0);
  }

  &-leave, &-leave-to {
    top: 0;
    position: absolute;
    transform: translate(100%, 0);
  }
}

// Generic transitions
@mixin ui-transition-scale {
  &-enter-active, &-leave-active {
    transition: $ui-transition-primary;
  }

  &-enter, &-leave, &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}

@mixin ui-transition-slide-y {
  &-enter-active, &-leave-active {
    transition: $ui-transition-primary;
  }

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

@mixin ui-transition-slide-y-reverse {
  &-enter-active, &-leave-active {
    transition: $ui-transition-primary;
  }

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }
}

@mixin ui-transition-slide-x {
  &-enter-active, &-leave-active {
    transition: $ui-transition-primary;
  }

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

@mixin ui-transition-slide-x-reverse {
  &-enter-active, &-leave-active {
    transition: $ui-transition-primary;
  }

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateX(15px);
  }
}

@mixin ui-transition-fade {
  &-enter-active, &-leave-active {
    transition: $ui-transition-primary;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

@mixin ui-transition-fab {
  &-enter-active, &-leave-active {
    transition: $ui-transition-primary;
  }

  &-enter, &-leave-to {
    transform: scale(0) rotate(-45deg);
  }
}
