//
// Alignment
//

@include mq-each() {
  .#{$css-prefix}#{$mq-each-prefix}text-left   { text-align: left; }
  .#{$css-prefix}#{$mq-each-prefix}text-center { text-align: center; }
  .#{$css-prefix}#{$mq-each-prefix}text-right  { text-align: right; }

  .#{$css-prefix}#{$mq-each-prefix}align-top    { vertical-align: top; }
  .#{$css-prefix}#{$mq-each-prefix}align-middle { vertical-align: middle; }
  .#{$css-prefix}#{$mq-each-prefix}align-bottom { vertical-align: bottom; }
}
