//
// Base
//

// Set Root Font Size
html {
  font-size: $ui-html-base-font-size-per;
}

// @fix
//   for chrome bug
body {
  @include ui-font-size(base);
  @include ui-font-weight(regular);
  @include ui-line-height(md);
  @include ui-font-family(base);
  overflow-wrap: break-word;
}

// Set Base Font Style
body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
