//
// Color
//

@each $key in $text-color-keys {
  .#{$css-prefix}text--#{$key} {
    @include theme-color(color, text-#{$key}, true);
  }
}

@each $parent, $children in map-get($themes, palette) {
  @each $sub, $color in $children {
    $suffix: if($sub == base, null, -#{$sub});
    $key: #{$parent}#{$suffix};
    .#{$css-prefix}text--#{$key} {
      color: $color!important;
    }
  }
}