//
// Tooltip
//

.#{$css-prefix}tooltip {

  @include theme-color(background, background-darken);
  @include theme-color(color, text-inverted);
  border-radius: 2px;
  @include font-size(xs);
  display: inline-block;
  padding: 5px 8px;
  text-transform: initial;
  transition: .15s get-easing(swing);
  @include elevation(2);

  &[class*="-active"] {
    pointer-events: none;
  }

  @include mq(smAndDown) {
    padding: 10px 16px;
  }
}
