//
// Tooltip
//

.#{$css-prefix}tooltip {

  @include ui-theme-context-mapping-background(deep);
  @include ui-theme-color(color, "context.plain.base");
  border-radius: 2px;
  @include ui-font-size(xs);
  display: inline-block;
  padding: 5px 8px;
  text-transform: initial;
  transition: .15s $ui-easing-swing;
  @include ui-elevation(2);

  &[class*="-active"] {
    pointer-events: none;
  }

  @include ui-mq(smAndDown) {
    padding: 10px 16px;
  }
}
