//
// Page Layout
//

.#{$css-prefix}page {
  padding-top: 3rem;
  padding-bottom: 6rem;

  &-header {
    @include theme-color(background-light);

    &__inner {
      height: 7.25rem;
      padding: 3rem;
      display: flex;
      align-items: center;

      &,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font-size(xxxl);
        @include font-weight(regular);
        @include theme-color(text-secondary);
      }
    }
  }

  &__introduction {
    @include theme-color(text-secondary);
  }

  &__section {
    padding-top: 3rem;

    &-header {
      @include font-size(xxl);
      @include font-weight(regular);
      @include theme-color(text-secondary);
      margin-bottom: 1rem;

      // &:first-letter {
      //   text-transform: uppercase;
      // }
    }
  }

  &__container {
    @include page-container;

    &-pull {
      @include page-container-pull;
    }
  }
}
