//
// Input
//

.#{$css-prefix}input-message-transition {
  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }

  &-leave-active {
    position: absolute;
  }
}



.#{$css-prefix}input {
  $my: &;

  display: block;
  margin: $ui-input-margin-vertical $ui-input-margin-horizintal;

  &__label {
    display: inline-block;
    vertical-align: bottom;
    @include ui-remove-tap-highlight;
    // cursor: pointer;

    @include ui-font-size(xs);
    transition: $ui-duration-promptly;
    @include ui-theme-context-mapping-text(caption);

    #{$my}--focused & {
      @include ui-theme-context-mapping-text(primary);
    }
  }

  &--sm { @include ui-font-size(sm); }
  &--md { @include ui-font-size(md); }
  &--lg { @include ui-font-size(lg); }

  &--sm &__label { @include ui-font-size(xxs); }
  &--md &__label { @include ui-font-size(xs); }
  &--lg &__label { @include ui-font-size(sm); }

  &--selection,
  &--inline {
    display: inline-table;
    width: 100%;
    max-width: calc(100% - #{$ui-input-margin-horizintal * 2});

    #{$my}__body,
    #{$my}__details {
      display: table-row;
    }

    #{$my}__details {
      &__prefix {
        display: table-cell;
        vertical-align: middle;
      }

      &__body {
        display: table-cell;
        vertical-align: middle;
      }
    }

    #{$my}__control {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }

    #{$my}__label {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;

      &--left {
        padding-right: 1em;
      }

      &--right {
        padding-left: 1em;
      }
    }
  }

  &--selection {
    width: auto;
    display: table;

    &#{$my}--inline {
      display: inline-table;
      margin-right: $ui-input-margin-horizintal * 2;
    }

    #{$my}__label {
      cursor: pointer;
      padding-left: .2em;
      user-select: none;
    }

    #{$my}__control {
      width: auto;
    }
  }




  &__counter {
    display: block;
    white-space: nowrap;
    text-align: right;

    @include ui-theme-context-mapping-text(caption);
    @include ui-font-size(xs);

    #{$my}--sm & { @include ui-font-size(xxs); }
    #{$my}--md & { @include ui-font-size(xs); }
    #{$my}--lg & { @include ui-font-size(sm); }

    &--error {
      @include ui-theme-context-mapping-text(error, $important: true);
    }
  }

  &__messages {
    display: block;
    position: relative;
    width: 100%;
    @include ui-font-size(xs);
    @include ui-theme-context-mapping-text(caption);

    .#{my}--sm & { @include ui-font-size(xxs); padding-top: 2px; }
    .#{my}--md & { @include ui-font-size(xs); padding-top: 4px; }
    .#{my}--lg & { @include ui-font-size(sm); padding-top: 6px; }

    #{$my}__counter + & {
      margin-top: -1.2em;

      #{$my}__message:first-child {
        max-width: calc(100% - 4.5em);
      }
    }
  }

  &__details {

    &__body,
    &__prefix {
      padding-top: 4px;
    }
  }

  &__message {
    transition: $ui-transition-primary;
  }

  &--error {
    #{$my}__label,
    #{$my}__details,
    #{$my}__messages {
      @include ui-theme-context-mapping-text(error, $important: true);
    }
  }


  &--disabled {
    .#{$css-prefix}checkable-element,
    #{$my}__label,
    #{$my}__details,
    #{$my}__counter,
    #{$my}__messages {
      @include ui-theme-context-mapping-text(disabled, $important: true);
      pointer-events: none;
    }
  }
}
