//
// Switch
//

.#{$css-prefix}switch-element {
  $my: &;

  @include checkable-core;
  min-width: $ui-switch-track-min-width * 1.5;

  $my-size: $ui-switch-pointer-size + $ui-switch-pointer-assist-size * 2;
  $my-offset-x: -($ui-switch-pointer-offset + $ui-switch-pointer-assist-size);
  $my-offset-x-active: $ui-switch-track-min-width - $my-size - $my-offset-x;
  $my-offset-y: -$my-size / 2 + $ui-switch-track-height / 2;

  &__body {
    position: relative;
    display: block;
    min-width: $ui-switch-track-min-width;
    min-height: $ui-switch-track-height;
    border-radius: $ui-switch-track-radius;
    @include btn-action-reset;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      opacity: .5;
      background-color: currentColor;
      transition: .3s get-easing(fast-in-fast-out);
    }
  }

  &__inner {
    @include btn-action-reset;
    position: absolute;
    display: block;
    @include square($my-size);
    top: 0;
    left: 0;
    transform: translate(#{$my-offset-x}, #{$my-offset-y});
    transition: .3s get-easing(fast-in-fast-out);

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .12;
      border-radius: 50%;
      transition: get-duration(promptly);

      #{$my}:hover &,
      #{$my}:focus & {
        background: currentColor;
      }

      #{$my}:active & {
        opacity: .24;
      }
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      @include square($ui-switch-pointer-size);
      top: $my-size / 2 - $ui-switch-pointer-size / 2;
      left: $my-size / 2 - $ui-switch-pointer-size / 2;
      border-radius: 100%;
      @include elevation(4);
      background-color: currentColor;
    }
  }

  &:not(&--checked):not(&--error):not(&--disabled) {
    #{$my}__body:before {
      @include ui-theme-color(background, switch-track);
    }

    #{$my}__inner {
      &:after {
        @include ui-theme-color(background, switch-pointer);
      }
    }
  }

  &--checked {
    #{$my}__inner {
      transform: translate(#{$my-offset-x-active}, #{$my-offset-y});
    }
  }
}
