//
// Data table
//

.#{$css-prefix}data-table {
  &-context {

    & > *:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    th {
      padding-top: 0;
      padding-bottom: 0;
    }

    th,
    td {
      vertical-align: middle;
    }

    thead {

      tr {
        height: 56px;
      }

      th,
      td {
        transition: $ui-transition-primary;
        @include ui-theme-context-mapping-text(caption);

        &.#{$css-prefix}sortable {
          cursor: pointer;
          user-select: none;

          .#{$css-prefix}data-table__sort-icon {
            pointer-events: none;
            opacity: 0;
            @include ui-theme-context-mapping-text(sub);
          }

          &.#{$css-prefix}active,
          &:hover {
            @include ui-theme-color(color, "context.plain.doc");

            .#{$css-prefix}data-table__sort-icon {
              opacity: 1;
            }
          }

          &.#{$css-prefix}active {
            .#{$css-prefix}data-table__sort-icon {
              @include ui-theme-color(color, "context.plain.doc");
            }
          }
        }
      }
    }

    tbody {
      tr {
        transition: $ui-transition-primary;

        &:hover {
          @include ui-theme-context-mapping-background(soft);
        }
      }
    }
  }

  width: 100%;



  // &__header {

  //   &__collapse {

  //     .#{$css-prefix}data-table--header-fixed & {
  //       height: 0;
  //       overflow-y: hidden;
  //     }
  //   }
  // }

  &--header-fixed {
    .#{$css-prefix}data-table__header {
      border-bottom: 0 !important;
      height: 0 !important;

      tr {
        height: 0 !important;
      }

      th {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 0 !important;
        line-height: 0 !important;

        object {
          height: 0 !important;
        }
      }

      &__collapse {
        height: 0;
        overflow-y: hidden;
      }
    }
  }

  &-fixed-header-scroll {
    position: relative;
    z-index: 2;
  }

  // dd-data-table--only-header
  &--only-header {
    width: 100%;
  }
}


