//
// Anchor Navi
//

.#{$css-prefix}anchor-navi {
  display: block;
  @include font-size(xs);

  &__item {
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: flex-end;
    transition: get-transition(primary);

    &,
    &:hover,
    &:focus,
    &:active {
      @include theme-color(color, text);
    }

    &:hover,
    &:focus {
      @include theme-color(background-color, background-light);
    }

    // &--current {
    //   background: #f00!important;
    // }
  }

  &__icon {
    display: block;
    opacity: 0;
    transition: get-transition(primary);

    .#{$css-prefix}anchor-navi__item--current & {
      opacity: 1;
    }
  }

  &__label {
    display: block;
    margin-left: .5em;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .#{$css-prefix}app-drawer & {
    border-right: solid 4px;
    @include theme-border-color(context-primary);
  }
}