//
// Navigation Drawer
//

.#{$css-prefix}navigation-drawer {
  $my-overflow-size: 64px;

  &__overlay {
    z-index: $ui-z-index-app-drawer;
  }

  &__base {
    z-index: $ui-z-index-app-drawer + 1;
    position: fixed;
    top: -$my-overflow-size;
    bottom: -$my-overflow-size;
    left: 0;
    width: $ui-navigation-drawer-width;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    transition: $ui-duration-slowly $ui-easing-drawer;
  }

  &__content {
    position: absolute;
    top: $my-overflow-size;
    bottom: $my-overflow-size;
    left: 0;
    right: 0;
    overflow: auto;
  }

  &--close &__base {
    left: -$ui-navigation-drawer-width;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  }
}
