//
// Dialog
//

.#{$css-prefix}dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  transition: .3s ease-in-out;

  &__content {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  &__body {
    display: inline-block;
    text-align: left;
    margin: get-dialog(margin);
    width: calc(100% - #{get-dialog(margin) * 2});
    text-align: center;
  }

  &__element {
    position: relative;
    // width: 100%;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    // margin-left: auto;
    // margin-right: auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    & > .#{$css-prefix}card {
      @include elevation(24);
    }
  }

  // &--scrollable {
  //   display: flex;
  // }

  &--scrollable {
    display: block;

    .#{$css-prefix}dialog__content {
      display: block;
    }

    .#{$css-prefix}dialog__inner {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .#{$css-prefix}dialog__body {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      max-height: calc(100% - #{get-dialog(margin) * 2});
    }

    .#{$css-prefix}dialog__element {
      display: flex;
      flex: 1 1 auto;
      max-height: 100%;

      & > .#{$css-prefix}card {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        max-height: 100%;

        & > * {
          flex: 0 0 auto;
        }

        & > .#{$css-prefix}card__text {
          flex: 1 1 auto;
          overflow: auto;
          backface-visibility: hidden;
        }
      }
    }
  }

  &--fullscreen {
    display: block;

    .#{$css-prefix}dialog__content {
      display: block;
    }

    .#{$css-prefix}dialog__inner {
      display: block;
    }

    .#{$css-prefix}dialog__body {
      display: flex;
      width: 100%;
      margin: 0;
      max-height: none;

    }

    .#{$css-prefix}dialog__element {
      display: flex;
      width: 100%;
      height: 100%;
      max-height: none;

      & > .#{$css-prefix}card {
        border-radius: 0;

        // & > .#{$css-prefix}toolbar {
        //   flex: 0 0 auto;
        // }

        // & > .#{$css-prefix}card__text {
        //   overflow: auto;
        //   backface-visibility: hidden;
        // }
      }
    }
  }
}
