//
// Text
//

@mixin font-family($key) {
  font-family: get-font-family($key);
}

@mixin font-size($key, $unit: null) {
  font-size: get-font-size($key, $unit);
}

@mixin line-height($key, $unit: null) {
  line-height: get-line-height($key, $unit);
}

@mixin font-weight($key) {
  font-weight: get-font-weight($key);
}

@mixin text-link--reset($cursor: pointer) {
  @if $cursor != null {
    cursor: $cursor;
  }

  line-height: inherit;
  font-size: inherit;

  &,
  &:active,
  &:focus,
  &:hover {
    color: inherit!important;
    text-decoration: inherit;
  }
}

// Hyphenate
@mixin hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

// Hyphenate
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
