//
// Spinner
//

.#{$css-prefix}progress-bar {
  background: transparent;
  margin: 1rem 0;
  overflow: hidden;
  width: 100%;
  position: relative;

  &__bar {
    width: 100%;
    height: inherit;
    position: relative;
    transition: .2s get-easing(fast-in-slow-out);
    z-index: 1;

    &__determinate {
      height: inherit;
      transition: .2s get-easing(fast-in-slow-out);
    }

    &__indeterminate {
      .#{$css-prefix}progress-bar__long, .#{$css-prefix}progress-bar__short {
        height: inherit;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        will-change: left, right;
        width: auto;
      }

      &--active .#{$css-prefix}progress-bar__long {
        animation: #{$css-prefix}bar-indeterminate;
        animation-duration: 2.2s;
        animation-iteration-count: infinite;
      }

      &--active .#{$css-prefix}progress-bar__short {
        animation: #{$css-prefix}bar-indeterminate-short;
        animation-duration: 2.2s;
        animation-iteration-count: infinite;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: .3s ease-in;
  }

  &--query {
    .#{$css-prefix}progress-bar__bar__indeterminate {
      &--active .#{$css-prefix}progress-bar__long {
        animation: #{$css-prefix}bar-query;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }

      &--active .#{$css-prefix}progress-bar__short {
        animation: #{$css-prefix}bar-query-short;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
  }

  @keyframes #{$css-prefix}bar-indeterminate {
    0% {
      left: -90%;
      right: 100%;
    }
    60% {
      left: -90%;
      right: 100%;
    }
    100% {
      left: 100%;
      right: -35%;
    }
  }

  @keyframes #{$css-prefix}bar-indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }

  @keyframes #{$css-prefix}bar-query {
    0% {
      right: -90%;
      left: 100%;
    }
    60% {
      right: -90%;
      left: 100%;
    }
    100% {
      right: 100%;
      left: -35%;
    }
  }

  @keyframes #{$css-prefix}bar-query-short {
    0% {
      right: -200%;
      left: 100%;
    }
    60% {
      right: 107%;
      left: -8%;
    }
    100% {
      right: 107%;
      left: -8%;
    }
  }
}
