//
// App Header
//

.#{$css-prefix}app-header {
  .#{$css-prefix}app--header-fixed & {
    position: fixed;
    @include z-index(app-header);
    top: 0;
    left: 0;
    width: 100%;
    @include shadow(floating);
  }

  .#{$css-prefix}app--drawer-left-active & {
    padding-left: $navigation-drawer-width;
  }

  .#{$css-prefix}app--drawer-right-active & {
    padding-right: $navigation-drawer-width;
  }
}