//
// Slider
//

$my-slider-active-color: background-active;
$my-slider-inactive-color: background-light;
$my-slider-disabled-color: context-muted;
$my-pointer-size: 16px;
$my-pointer-hit-size: 40px;
$my-pointer-offset: ($my-pointer-hit-size - $my-pointer-size) / 2;

.#{$css-prefix}input-group--slider {

  label {
    @include theme-color(color, text-secondary);
  }

  .#{$css-prefix}slider__track, .#{$css-prefix}slider__track-fill {
    @include theme-color(background-color, $my-slider-inactive-color);
  }

  .#{$css-prefix}slider__track__container {
    &:after {
      border: solid 1px;
      @include theme-color(border-color, text-primary);
    }
  }

  .#{$css-prefix}slider__tick {
    border: solid 1px;
    @include theme-color(border-color, text-primary);
  }

  &:not(.#{$css-prefix}input-group--dirty) {
    .#{$css-prefix}slider__thumb--label {
      @include theme-color(background, $my-slider-inactive-color);
      @include theme-color(border-color, $my-slider-inactive-color);
    }

    .#{$css-prefix}slider__thumb-body {
      // border: solid 3px;
      @include theme-color(border-color, $my-slider-inactive-color);
    }

    &:focus {
      .#{$css-prefix}slider__thumb-body {
        @include theme-color(border-color, $my-slider-active-color);
      }
    }
  }


  &.#{$css-prefix}input-group--disabled {
    .#{$css-prefix}slider__thumb-body {
      background: none;
      @include theme-color(border-color, $my-slider-disabled-color);
    }
  }

  &.#{$css-prefix}input-group--disabled.#{$css-prefix}input-group--dirty {
    .#{$css-prefix}slider__thumb-body {
      @include theme-color(background, $my-slider-disabled-color);
      border: 0px solid transparent;
    }
  }

  &:focus {
    .#{$css-prefix}slider__track {
      @include theme-color(background, $my-slider-active-color);
    }
  }

  .#{$css-prefix}input-group__left-icon { padding-left: 0; }
  .#{$css-prefix}input-group__right-icon { padding-right: 0; }
}

.#{$css-prefix}slider {
  margin-left: get-space(sm);
  margin-right: get-space(sm);
}

.#{$css-prefix}input-group--left-icon .#{$css-prefix}slider {
  margin-left: get-space(xl);
}

.#{$css-prefix}input-group--right-icon .#{$css-prefix}slider {
  margin-right: get-space(xl);
}

/** Input Group */
.#{$css-prefix}input-group.#{$css-prefix}input-group--slider {
  flex-direction: row;
  flex-wrap: wrap;
  // Allow for right space if inline with other inputs
  padding-right: 16px;

  .#{$css-prefix}input-group__details:before, .#{$css-prefix}input-group__details:after {
    display: none;
  }

  .#{$css-prefix}input-group__input {
    flex: 1 1 100%;
  }

  // label {
  //   flex: 0 1 auto;
  //   width: auto;
  //   align-items: center;
  //   display: inline-flex;
  //   font-size: 18px;
  //   transform: none;

  //   & + .#{$css-prefix}input-group__input {
  //     margin-left: 16px;
  //     flex: 1 0 auto;
  //   }
  // }

  &.#{$css-prefix}input-group--active {
    .#{$css-prefix}slider__thumb-body {
      transform: scale(1.2);
    }

    .#{$css-prefix}slider__track {
      transition: none;
    }

    .#{$css-prefix}slider__thumb-container {
      &--label {
        .#{$css-prefix}slider__thumb {

          &-body {
            transform: scale(0);
          }

          &:hover &-body {
            transform: scale(0);
          }
        }
      }
    }

    .#{$css-prefix}slider__thumb-container, .#{$css-prefix}slider__track-fill {
      transition: none;
    }

    &.#{$css-prefix}input-group--ticks {
      .#{$css-prefix}slider {
        &__track__container:after, &__tick {
          opacity: 1;
        }
      }
    }
  }

  &.#{$css-prefix}input-group--disabled {
    pointer-events: none;

    .#{$css-prefix}slider__thumb-body {
      transform: scale(.5);
      background: transparent;
    }

    &.#{$css-prefix}input-group--dirty {
      border-color: transparent;
    }
  }

  &.#{$css-prefix}input-group--prepend-icon {
    .#{$css-prefix}slider {
      margin-left: 40px;
    }
  }

  &.#{$css-prefix}input-group--append-icon {
    .#{$css-prefix}slider {
      margin-right: 40px;
    }
  }
}


/** Slider */
.#{$css-prefix}slider {
  cursor: default;
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  flex: 1;
  user-select: none;
}


/** Thumb/Track/Ticks */
.#{$css-prefix}slider {
  cursor: pointer;

  &__track__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 2px;
      transition: .3s get-easing(swing);
      width: 2px;
      opacity: 0;
    }
  }

  &__track, &__thumb, &__tick {
    position: absolute;
    top: 0;
  }

  &__track {
    height: 2px;
    left: 0;
    transition: .3s get-easing(swing);
    transform-origin: right;
    overflow: hidden;
    width: 100%;

    &-fill {
      position: absolute;
      left: 0;
      height: 2px;
      transform-origin: left;
      width: 100%;
      transition: .3s get-easing(swing);
    }
  }

  &__ticks-container {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    top: 50%;
    overflow: hidden;
  }

  &__tick {
    transition: .3s get-easing(swing);
    opacity: 0;
  }

  &__thumb-container {
    position: absolute;
    top: 50%;
    transition: .3s get-easing(swing);
  }

  // $my-pointer-size: 16px;
  // $my-pointer-hit-size: 40px;
  // $my-pointer-offset: ($my-pointer-hit-size - $my-pointer-size) / 2;
  &__thumb {
    width: $my-pointer-hit-size;
    height: $my-pointer-hit-size;
    left: -$my-pointer-hit-size / 2;
    top: 50%;
    transition: .3s get-easing(swing);
    transform: translateY(-50%);
    @include btn-action-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    // cursor: pointer;

    &-body {
      content: "";
      display: block;
      width: $my-pointer-size;
      height: $my-pointer-size;
      border-radius: 50%;
      background: transparent;
      transition: .3s get-easing(swing);
      transform: scale(.8);
      border: solid 3px;
    }
  }
}


/** Thumb Label */
.#{$css-prefix}slider {
  &__thumb--label__container {
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s ease-in-out;
  }

  &__thumb--label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    position: absolute;
    user-select: none;
    transition: .3s ease-in-out;

    // left: -14px;
    // top: -40px;
    // width: 28px;
    // height: 28px;
    // border-radius: 50% 50% 0;
    // transform: rotate(45deg);
    left: 0;
    bottom: calc(100% + 6px);
    padding: get-space(xxs) get-space(xs);
    border-radius: get-space(sm);
    transform: translateX(-50%);

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-top-color: inherit;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      top: calc(100% - 2px);
      transform: translateX(-50%);
      // border-color: #007bff transparent transparent transparent;
      // border: solid
    }

    span {
      // transform: rotate(-45deg)
    }
  }

  &__track,
  &__track-fill {
    position: absolute;
  }
}
