//
// Text Field
//

.#{$css-prefix}text-field {

  textarea {
    padding-top: 4px;
    resize: vertical;
    overflow: auto;
  }

  &__counter {
    @include theme-color(text-secondary);
    margin-left: auto;

    &--error {
      @include color(text-danger);
    }

    @at-root .#{$css-prefix}input-group--error & {
      @include color(text-danger);
    }
  }

  &__suggest {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    // border-radius: get-text-field(radius);
    border: solid get-text-field(border-width) get-color(form-divider);
    border-top: 0;
    border-radius: 0 0 get-text-field(radius) get-text-field(radius);
    background: #fff;
    box-shadow: get-shadow(menu);

    &-item {
      @include btn-base($display: block);
      width: 100%;
      text-align: left;
      @include font-size(sm);
      padding: .5em;
      @include ellipsis;

      &:hover,
      &:focus,
      &--focused {
        @include theme-color(background-light);
      }
    }
  }

  &--suggested .#{$css-prefix}input-group__input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}